{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block content %}
<div class="card">
    <header class="card-header">
        <header class="card-header-title">
            <h1>Simple App to Socialize</h1>
            {% if not login %}
            <p>Log in to create post</p>
            {%endif %}
        </header>
    </header>
    {% if login %}
    {%include "add_posts.html" %}
    {%endif %}
</div>
<div id="posts" hx-get="/posts" hx-trigger="load" hx-swap="innerHTML">
</div>
{% endblock %}