<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple App</title>
</head>

<body>
    <h1>Simple App to Socialize</h1>
    <form hx-post="/posts" hx-trigger="submit" hx-target="#posts" hx-swap="innerHTML" hx-ext='json-enc'>
        <label for="title">Title</label>
        <input type="text" name="post_title" id="title">
        <label for="text">Text</label>
        <input type="text" name="post_text" id="text">
        <input type="submit">
    </form>
    <div id="posts" hx-get="/posts" hx-trigger="load" hx-swap="innerHTML">
    </div>
    <script src="https://unpkg.com/htmx.org@2.0.2"
        integrity="sha384-Y7hw+L/jvKeWIRRkqWYfPcvVxHzVzn5REgzbawhxAuQGwX1XWe70vji+VSeHOThJ"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/htmx.org@1.9.12/dist/ext/json-enc.js"></script>
</body>

</html>